<div class="chatbot-container">
  <div class="chatbot-header">
    <div class="chatbot-status">
      <img src="https://is1-ssl.mzstatic.com/image/thumb/Purple211/v4/55/01/99/55019965-3a65-6a67-92f2-b0dcce8aa89e/AppIcon-0-0-1x_U007emarketing-0-7-0-85-220.png/256x256bb.jpg" alt="Image de Leila" class="avatar-image">
      <span>Votre Assistant</span>
    </div>
    <button id="toggleChatbotButton" class="toggle-button" (click)="toggleChatbot()">Réduire</button>
  </div>
  <div class="chatbot-body">
    <p class="disclaimer">J'accepte que mes données personnelles soient traitées par finafrica pour l'assistance par chat. <a href="#">Voir la politique de données</a></p>

    <div class="messages-content">
      @for (message of chatMessages; track message) {
        @if (message.sender === 'user') {
          <div class="message user-message">
            <p>{{ message.message }}</p>
          </div>
        } @else {
          <div class="message assistant-message">
            <p>{{ message.message }} 😊</p>
          </div>
        }
      }

      @if (currentStep === 0) {
        <div class="message user-message">
          <p>Comment puis-je vous aider aujourd'hui?</p>
          <div class="options">
            @for (option of initialOptions; track option) {
              <button (click)="sendUserMessage(option)">{{ option }}</button>
            }
          </div>
        </div>
      }

      @if (currentStep === 3 && insurancePacks.length > 0) {
        <div class="insurance-options">
          @for (pack of insurancePacks; track pack.name) {
            <div class="insurance-option">
              <h3>{{ pack.name }}</h3>
              <p>Tarif 3 mois: {{ pack.price3Months }} FCFA</p>
              <p>Tarif 6 mois: {{ pack.price6Months }} FCFA</p>
              <p>Tarif 12 mois: {{ pack.price12Months }} FCFA</p>
              <p>Garanties incluses : {{ pack.includedCoverages.join(', ') }}</p>
              <button (click)="selectInsurancePack(pack.name)">Sélectionner</button>
            </div>
          }
        </div>
      }
    </div>

    <input type="text" class="chat-input" placeholder="Votre reponse ..." #messageInput (keyup.enter)="sendMessage()">
  </div>
  <footer class="footer">
    <p>Propulsé par <a href="https://www.groupeduval.com/nos-activites/soutenir-economie-locale/microfinance/">Finafrica</a></p>
  </footer>

</div>


