<div class="chatbot-container hidden" #chatbotContainer (mousedown)="onMouseDown($event)">
  <div class="chatbot-header">
    <div class="chatbot-status">
      <img src="https://is1-ssl.mzstatic.com/image/thumb/Purple211/v4/55/01/99/55019965-3a65-6a67-92f2-b0dcce8aa89e/AppIcon-0-0-1x_U007emarketing-0-7-0-85-220.png/256x256bb.jpg" alt="Image de Leila" class="avatar-image">
      <span>Votre Assistant pour OAV Finafrica</span>
    </div>
    <button id="toggleChatbotButton" class="toggle-button" (click)="toggleChatbot()">
      <i class="fas fa-compress"></i>
    </button>
  </div>
  <div class="chatbot-body">
    <div class="messages-content" #messagesContainer>
      @for (message of chatMessages; track message) {
        @if (message.sender === 'user') {
          <div class="message user-message">
            <p>{{ message.message }}</p>
          </div>
        } @else {
          <div class="message assistant-message">
            <p>{{ message.message }} 😊</p>
          </div>
        }
      }

      @if (currentStep === 0) {
        <div class="message user-message">
          <p>Merci de faire votre choix parmi les options proposées !</p>
          <div class="options">
            @for (option of initialOptions; track option) {
              <button (click)="sendUserMessage(option)">{{ option }}</button>
            }
          </div>
        </div>
      }

      @if (currentStep === 3 && insurancePacks.length > 0) {
        <div class="insurance-options">
          @for (pack of insurancePacks; track pack.name) {
            <div class="insurance-option">
              <h3>{{ pack.name }}</h3>
              <p>Tarif 3 mois: {{ pack.price3Months }} FCFA</p>
              <p>Tarif 6 mois: {{ pack.price6Months }} FCFA</p>
              <p>Tarif 12 mois: {{ pack.price12Months }} FCFA</p>
              <p>Garanties incluses : {{ pack.includedCoverages.join(', ') }}</p>
            </div>
          }
        </div>
      }
    </div>

    <div class="input-container">
      <input type="text" class="chat-input" placeholder="Votre réponse ..." #messageInput (keyup.enter)="sendMessage()">
      <input type="file" id="file-upload" #fileInput (change)="handleFileInput($event)" style="display: none;">
      <label for="file-upload" class="custom-file-upload">
        <i class="fa fa-cloud-upload"></i>
      </label>
    </div>
  </div>
  <footer class="footer">
    <p>Propulsé par <a href="https://www.groupeduval.com/nos-activites/soutenir-economie-locale/microfinance/">Finafrica</a></p>
  </footer>
</div>
